

.listsheader-rank{
    margin-top: 20px;
    width:100%;
    height: 50px;
    float:left;
    border: 1px solid #ddd;
    border-right: none;
    background-color: #eee;
    border-radius: 10px;
}


.listsheader-rank p:first-child{
    float:left;
    width:40px;
    height: 48px;
    background-color: green;
    border-radius: 10px;
}

.listsheader-rank p:first-child img{
    width: 80%;
    margin-top: 6px;
}

.listsheader-rank p:nth-child(2){
    text-align: center;
    width:calc(100% - 40px);
    height: 100%;
    line-height: 50px;
    float:left;
}
.listsheader-rank span{
    width:10%;
    display: block;
    float:left;
    text-align: center;
}



.teamlist-rank{
    padding-left: 0;
    width:100%;
   height: 100%;
}
.lists-rank{
    margin-top: 10px;
    width:100%;
    height: 50px;
    float:left;
    border: 1px solid #ddd;
    background-color: #eee;
}


.lists-rank p:first-child{
    float:left;
    width:25px;
    height: 48px;
    background-color: green;
}
.lists-rank p{
    float:left;
    width:25px;
    height: 48px;
}
.lists-rank a{
    text-align: center;
    width:calc(100% - 50px);
    height: 100%;
    line-height: 50px;
    float:left;
}
.lists-rank a span{
    width:10%;
    display: block;
    float:left;
}
.dlatltntwk{
    text-align: center;
}

.teaminfo{
    border:1px solid black;
    text-align: center;
}

span{
        color:#000;
}

.noTeamMessage{
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teamLogo{
    width:50px;
    padding-right: 10px;
}
.teamRank{
    line-height: 48px;
    font-weight: bold;
    color:#fff;
}

@media (max-width: 992px) {
      
      .mediumTeamName {
     font-size: 12px;
      }
      
      .longTeamName {
        font-size: 10px;
      }
  }