h1{
    height: 40px;
    line-height: 40px;
    border-bottom: 3px solid #eee;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}
#logobtn{
    width:100px;
    padding:5px 15px;
    color:#fff;
    background-color: #2A8757;
    border-radius: 10px;
    font-size: 14px;
}

.logobtn{
    width:100px;
    padding:5px 15px;
    color:#fff;
    background-color: #2A8757;
    border-radius: 10px;
    font-size: 14px;
}
#image_container{
    width:250px;
    height: 250px;
    border: 1px solid #2A8757;
    overflow: hidden;
    margin: 0 auto;
}
.formexplan{
    font-size: 25px;
}
#image_container img{
width:100%;
height: 100%;
}
#teamname{
    border: 1px solid black;
}
.teampro{
    text-align: left;
}
.teampro input[type="text"]{
    width:100%;
    height: 40px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px 0px rgb(225, 216, 216);
    padding: 5px;
    border-radius: 10px;
}
.teampro input[type="text"]:focus{
    outline: none;
    border: 2px solid #2A8757;
}
.teampro textarea{
    resize: none;
    width:100%;
    height: 38%;
    padding:20px;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px 0px rgb(225, 216, 216);
}
.teampro textarea:focus{
    outline: none;
    border: 2px solid #ccc;
}

.locadate select{
    width:70%;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}

.locadate h2{
    width:70%;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

#recruit{
    transform: scale(2);
    margin-right: 10px;
}
.form-check-label{
    font-size: 18px;
}
.form-check{
    width:190px;
}

#submitbtn{
    width:150px;
    background-color: #2A8757;
    border: none;
    padding:10px;
    border-radius: 10px;
    color:#fff;
    margin: 0 auto;
}