.additional-info p{
    font-size: 20px; /* 텍스트 크기 키우기 */
  }
  .email-subscription-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #4285f4;
    border-radius: 5px;
    padding: 20px; /* 내부 여백 추가 */
  }
  
  .subscription-info {
    display: flex;
    flex-direction: row; /* 가로로 정렬 */
    align-items: center;
    justify-content: space-between; /* 오른쪽 끝 정렬 */
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .additional-info {
    font-size: 20px; /* 텍스트 크기 키우기 */
  }
  
  .subscribe-button,
  .confirmation-button {
    margin-top: 20px; /* 버튼 상단 여백 조절 */
    padding: 10px 15px; /* 버튼 크기 조절 */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #4285f4;
    border-radius: 5px;
  }
  
  .subscribe-button.disabled,
  .confirmation-button.disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  } 